<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="Parallel Test Suite"
       annotations="JDK" parallel="tests">

    <test name="Test1">
        <classes>
            <class name="suite1.Test1">
            <methods>
                <include name="getTitleTest"/>
            </methods>
            </class>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="suite2.Test2">
                <methods>
                    <include name="getTextTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>